<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://adrenl.in/css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/console.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script data-main="static/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.js"></script>
</head>
<body>
  <!--<div id='container'>
    <pre>
      <div id='console'>
      </div>
    </pre>
    <form>
      <input id="command-field" size="30" >
      <input type="button" value="Submit" id="command-send-button"/>
    </form>
  </div>-->
</body>

</html>
