<!DOCTYPE html>
<html>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript">
xmlhttp= new XMLHttpRequest();

xmlhttp.onreadystatechange=function(){

        if (xmlhttp.readyState==4 && xmlhttp.status==200){ // If the status is good
            document.getElementById( "myTextArea" ).innerHTML = xmlhttp.responseText; // Then set the inside of the text area to the response data
        }
        console.log(xmlhttp.responseText);
        console.log(xmlhttp);
    }

xmlhttp.open("GET","/list",true); 
xmlhttp.send();

// var textarea = document.getElementById('textarea_id');
// textarea.scrollTop = textarea.scrollHeight;

// var processList = null;


// {"name" : "testTf2Server"}
// post ({"name" : "testTf2Server"})

// The below method of getting this based on jQuery is from here: http://techoctave.com/c7/posts/60-simple-long-polling-example-with-javascript-and-jquery

(function poll(){
   setTimeout(function(){
        //Update your dashboard gauge
        //salesGauge.setValue(data.value);
        //document.getElementById( "myTextArea" ).innerHTML += ($.get("/list") + "\n");
        $.post("/status", 
            {"name" : "testTf2Server"},
            function(data){
            document.getElementById( "myTextArea" ).innerHTML += data +"\n";},
            "application/json")

        //Setup the next poll recursively
        poll();
  }, 500);
})();

$.ajax({
    url:"/satus",
    type:"POST",
    data:{"name" : "testTf2Server"},
    contentType:"application/json; charset=utf-8",
    dataType:"json"
    // success: function(){
    //   ...
    // }
})

$.ajax( {
    url: 'https://url.com',
    type: 'post',
    data: {
        access_token: 'XXXXXXXXXXXXXXXXXXX'
    },
    headers: {
        Header_Name_One: 'Header Value One',   //If your header name has spaces or any other char not appropriate
        "Header Name Two": 'Header Value Two'  //for object property name, use quoted notation shown in second
    }
    dataType: 'json',
    success: function( data )
    {
        console.info(data);
    }
} );

</script>

<textarea readonly id="myTextArea" rows="40" cols="100">

</textarea>

</body>
</html>
